{% extends 'base.html' %}

{% block form %}
<div>
    <h2>My info: </h2>
    <p> Username: {{user.username}}</p>
    <p> First name: {{user.first_name}}</p>
    <p> Date of birth: {{user.dob.strftime('%x')}}</p>
    <p> Registered since: {{user.registration_date.strftime('%x')}} </p>
    <p> Total number of posts: {{posts|length}}</p>
</div>

<h2> My posts </h2>
{% for post in posts %}
    <fieldset>
        <p style="font-size:160%;"><b>{{post.title}}</b></p>
        <p style="font-size:80%;">
            <i><a href="/profile?username={{post.author}}">{{post.author}}</a></i>
        </p>
        <p> {{post.content}} </p>
    </fieldset>
    <br>
{% endfor %}
{% endblock %}