{% extends 'base.html' %}

{% block form %}
    <fieldset>
    <h2> Create/edit the blogpost </h2>
    <form action="/blogpost/create" method="POST">
        {{ blogform.csrf }}
        <p> {{ blogform.title.label }}: {{ blogform.title(class="css_class") }}</p>
        <p> {{ blogform.content.label }}: {{ blogform.content(class="css_class") }}</p>
        <p style="text-align: center;"><input type="submit" name="submit" value="Create new post">
        {% if blogform.id %}
            <input type="submit" name="submit" value="Update">
        {% endif %}
        </p>
    </form>

    </fieldset>
{% endblock %}