{% extends 'base.html' %}

{% block form %}
    <script>
        $(".post-like").click(function(event){
            console.log('Inside jQuery')
            var span = $(this);
            var href = span.parent().attr('href');
            var like_id = href.split('=');
            like_id = like_id[like_id.length - 1];
            var split_id = like_id.split('_');
            const text = split_id[0];
            if (text === 'like'){
                let type = 1;
            } else {
                let type = -1;
            }
            const blogpost_id = split_id[2];
            event.preventDefault();
            $.ajax({
                url: span.parent().attr('href'),
                success: function(){
                    let cur_likes = $("#like_count:"+blogpost_id | string).text();
                    cur_likes = parseInt(cur_likes) + type;
                    $("#like_count:"+blogpost_id).html(likes);
                },
                error: function(response, error){
                }

            })
            event.preventDefault();
        });

    </script>
<h1 style="text-align:center"> News feed </h1>
{% for post, likes, user_like in posts %}
    <fieldset style="width:80%; table-layout: fixed; margin-left: auto; margin-right: auto">
        <p style="font-size:160%;"><b>{{post.title}}</b></p>
        <p style="font-size:80%;">
            <i><a href="/profile?username={{post.author}}">{{post.author}}</a></i>
        </p>
        <p> {{post.content}} </p>
        <table style="font-size: small;">
            <tr>
                <td> {{post.date}} </td>
                <td>
                    {% if user_like %}
                        {% set like_id = "unlike_" + user.id | string + "_" + post.id | string %}
                    {% else %}
                        {% set like_id = "like_" + user.id | string  + "_" + post.id |string %}
                    {%  endif %}
                    {% set href_val = "/like_post?like_id=" + like_id | string %}
                    <span class=like_count id="{{ post.id }}">{{ likes }}</span> likes
                    <a href="{{ href_val }}">
                        <span id="{{ like_id }}" class="post-like">
                            {% if user_like %}
                                Unlike
                            {% else %}
                                Like
                            {% endif %}
                        </span>
                    </a>
                </td>
            </tr>
        </table>
    </fieldset>
    <br>
{% endfor %}
{% endblock %}