{% extends 'base.html' %}

{% block form %}
    <fieldset>
    <h1> Registration </h1>
    <form action="/registration/processing" method="POST">
        {{ regform.csrf }}
        <p> {{ regform.username.label }}: {{ regform.username(class="css_class") }}</p>
        <p> {{ regform.password.label }}: {{ regform.password(class="css_class") }}</p>
        <p> {{ regform.confirm.label }}: {{ regform.confirm(class="css_class") }}</p>
        <p> {{ regform.first_name.label }}: {{ regform.first_name(class="css_class") }}</p>
        <p> {{ regform.dob.label }}: {{ regform.dob(class="css_class") }}</p>
        <p> {{ regform.email.label }}: {{ regform.email(class="css_class") }}</p>
        <p style="text-align: center;"><input type="submit" name="submit" value="submit"></p>
    </form>

    </fieldset>
{% endblock %}